{% extends "base.html" %}
{% load widget_tweaks %}
{% block body_content %}
    <div class="container mt-3">
        <div class="jumbotron mt-2 p-3 rounded">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{ book.image_url }}" class="card-img-top" alt="{{ book.title }}">
                </div>
                 <div class="col-md-9">
                     <h2>
                         {{ book.title }}
                     </h2>
                     <p>
                         {{ book.description }}
                     </p>
                 {{ book_is_available }}
                     {% if book.is_available %}
                         <h5>Want to loan this book?</h5>
                         <form method="POST">
                         {% csrf_token %}
                             {% include 'subtemplates/form.html' with form=form %}
                             <button type="submit" class="btn btn-primary">Borrow!</button>
                         </form>
                     {% else %}
                         <div class="alert alert-warning text-danger">
                            <p>This book is not available to loan</p>
                         <p>This book is currently being loaned by:</p>
                             <ul>
                                 <li>
                                    {{ book.borrower.first_name }} {{ book.borrower.last_name }} (Email: {{ book.borrower.email }})
                                 </li>
                             </ul>
                             <p>It will be available on {{ book.due_date }}</p>
                         </div>
                     {% endif %}
                 </div>
            </div>
        </div>
    </div>
{% endblock %}